<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/tables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <table class="rwd-table">

<thead >
<td>
 <div class="search-box">
    <button type="button" onclick="searchFiles()" class="btn-search"><i class="fas fa-search"></i></button>
    <input type="text" id="searchInput" class="input-search" placeholder="Pesquisar Arquivo">
  </div>
  

    </td>
    <tr>
    
        <th >Nome do arquivo</th>
        <th>Publicado</th>
        <th class="px-6 py-4 font-medium text-gray-900">Arquivo</th>
        <th>Excluir</th>
        <th>Compartilhar Documento</th>
        
    </tr>
</thead>

<tbody class="divide-y divide-gray-100 border-t border-gray-100">
    {%for doc in documentos%}
        <tr >
            <td >{{doc.nome_doc}}</td>
            <td>{{doc.publicado}}</td>
            <td ><a class="dwn" href="download.php?iddoc={{doc.iddoc}}&idusr={{doc.usuario_idusr}}"> {{doc.file}}</a></td>
            <td><a id="btn" href="del_conf.php?idusr={{doc.usuario_idusr}}&iddoc={{doc.iddoc}}">Excluir</a></td>
            <td><a id="btn" href="showU.php?iddoc={{doc.iddoc}}&idusr={{doc.usuario_idusr}}">Compartilhar documento</a></td>
            
        </tr>
        {%else%}
            <tr>
            <td colspan = 2>Nenhum Arquivo adicionado</td>
            </tr>
    {%endfor%}
</tbody>
</table>
<a id="btn" class="btn btn-2" href="index.php?idusr={{idusr}}">Voltar</a>
<script>
    function searchFiles() {
        var input = document.getElementById("searchInput").value.toUpperCase();
        var table = document.getElementsByTagName("table")[0];
        var rows = table.getElementsByTagName("tr");

        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName("td");
            var found = false;

            for (var j = 0; j < cells.length; j++) {
                var cellText = cells[j].innerText.toUpperCase();

                if (cellText.indexOf(input) > -1) {
                    found = true;
                    break;
                }
            }

            if (found) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }
    document.getElementById('searchinput').addEventListener('keyup', function() {
  var searchTerm = this.value.toLowerCase(); // Obtém o valor da barra de pesquisa em letras minúsculas
  var items = document.getElementsByClassName('item'); // Supondo que você tenha elementos com a classe 'item' dentro da pasta

  // Itera sobre os itens e oculta aqueles que não correspondem ao termo de pesquisa
  for (var i = 0; i < items.length; i++) {
    var itemText = items[i].textContent.toLowerCase(); // Obtém o texto do item em letras minúsculas

    if (itemText.includes(searchTerm)) {
      items[i].style.display = 'block'; // Mostra o item
    } else {
      items[i].style.display = 'none'; // Oculta o item
    }
  }
});
</script>
</body>
</html>
