<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/tables.css">
</head>
<body>
    <table class="rwd-table">
<h1>Arquivos Compartilhados com você:</h1>

<thead >
    <tr>
        <th>Remetente</th>
        <th>Nome do arquivo</th>
        <th>Arquivo</th>
        <th>Excluir</th>
    </tr>
</thead>

<tbody>
    {%for usr in users%}
        <tr >
            <td >{{usr.usr_nome}}</td>
            <td>{{usr.doc_nome}}</td>
            <td>{{usr.doc_file}}</td>

            {% if usr.permissao == 2 %}
            <td><a href="del_conf.php?idusr={{usr.usr_recebe}}&iddoc={{usr.documento_iddoc}}">Excluir</a></td>
            {% else %}
            <td>Sem premissão!</td>
            {% endif %}
            

        </tr>
        {%else%}
            <tr>
            <td colspan = 2>Nenhum arquivo compartilhado</td>
            </tr>
    {%endfor%}
</tbody>
</table>
<a class="btn btn-2" href="index.php?idusr={{idusr}}">Voltar</a>
</body>
</html>
