<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="delete.php?idusr={{users.idusr}}&iddoc={{doc.iddoc}}" method="post">
    <h1>Exlcuir arquivo {{doc.nome_doc}}</h1>

    <p>Você tem certeza que deseja exluir o arquivo {{doc.nome_doc}} ?</p>
    <p>Isso não poderá ser desfeito!</p>
    
    <input type="submit" value="Exluir">
    </form>
</body>
</html>