{# templates/documentos_novo.html #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/tables.css">
</head>
<body>
    
    <h1>Adicionar documento</h1>
    
    <form action="#" method="post" enctype="multipart/form-data">
    <div>
        <input type="text" placeholder="Nome do Arquivo" name="nome">
    </div>
        <div>
            <input type="file" name="arquivo">
        </div>

        <input type="submit" value="Enviar arquivo">

        <input type="hidden" value={{idusr}}>

    </form>

</body>
</html>
