<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<nav>
<a href="/punteiros/arquivos.php?idusr={{usr.idusr}}">Arquivos</a>
 |
<a href="/punteiros/comp_list.php?idusr={{usr.idusr}}">Arquivos Compartilhados</a>
<a href="upload_arquivo.html">adicionar arquivo</a>
</nav>

    Bem-Vindo {{usr.nome}}
    <br>

    <a href="logout.php">Logout</a>
</body>
</html>