{% if erro == 1 %}
    <marquee>Usuário ou senha inválido!</marquee>
{% elseif erro == 2 %}
    <marquee>Está no caminho errado</marquee>
{% elseif erro == 3 %}
    <marquee>Senha alterada! verifica seu email</marquee>
{% endif %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    Login:
    <form action="login_verifica.php" method="post">
    <div>
        <input type="text" name="email" placeholder="email">
    </div>
    <div>
        <input type="password" name="pass" placeholder="Senha">
    </div>
    <div>
        <input type="submit" value="Entrar">
    </div>
</form>

<div>
    Se não tiver uma conta!! <a href="cadastro.html">cadastre-se aqui</a>
</div>
</body>
</html>
