{% if erro == 1 %}
    Usuário ou senha inválido!
{% elseif erro == 2 %}
    Está no caminho errado
{% elseif erro == 3 %}
    Senha alterada! verifica seu email
{% endif %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    Login:
    <form action="/punteiros/login_verifica.php" method="post">
    <div>
        <input type="text" name="email" placeholder="email">
    </div>
    <div>
        <input type="password" name="pass" placeholder="Senha">
    </div>
    <div>
        <input type="submit" value="Entrar">
    </div>
</form>

<div>
    Se não tiver uma conta!! <a href="/punteiros/cadastro.html">cadastre-se aqui</a>
</div>
</body>
</html>
